html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  margin: 24px 0;
}

.title-min {
  font-weight: bold;
}

button {
  cursor: pointer;
  border: none;
  color: #fff;
}